.main-top
  .main-top__box
    .main-top__box__url-box
      %h1
        充実したお得で安心のサービスで
        %br
        快適な住まいをご提供します。
      = link_to routesearches_path, class: "main-top__box__url-box__1" do
        %p 駅から探す
      = link_to areaseaches_pat, class: "main-top__box__url-box__1" do
        %p エリアから探す
      %br
      = link_to new_user_session_path, class: "main-top__box__url-box__2" do
        %p ログイン
      = link_to new_user_registration_path, class: "main-top__box__url-box__2" do
        %p 新規登録